body {
    color: #ccc;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 13px;
    background-color: #333;
}

h1 {
    text-align: center;
}

#navigation div > a {
  color: #eee;
  padding: 5px;
}
