body {
    background-color: #fafafa;
}
#navigation {
    margin-top:70px;
}
#graph {
    margin-top:50px;
}

.content-page {
    margin-top:100px;
}



.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
    color: #fff;
    background-color: #428bca;
}
